.requis{
  color:#0000AA;
}
 
legend{
 font-weight: bold;
 color: #0568CD;
 text-align: center;
 }
 
body{
	 font-weight: bold;
	/* background-color: DodgerBlue; */
	background-image: url("images.jpeg");
    color: white;
    text-shadow: 2px 2px 5px white;
}

.button {
	background-color: lightblue;
	 color: green;
	  border-radius: 12px;} /* Green */

.button1 {
	background-color: silver;
	 color:black; 
	 position: center;
	 } /* Black */
	 
.preStyle {
    color: black;
    background-color: silver;
    border: 3px solid #73AD21;
}
